/* .navbar .navbar-expand-lg .navbar-light .bg-light {
    color: #fff !important;
    background-color: #fff !important;
} */

.navbar-main {
    color: #fff !important;
    background-color: #fff !important;
}