.container {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.videoThumbnail {
  cursor: url(/public/assets/play-cursor.svg) 60 60, auto;
  margin-right: 2vw;
  flex: 0 0 auto;
  width: 500px;
  height: 300px;
}

.contentRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  scrollbar-width: none;
}

.contentRow::-webkit-scrollbar {
  display: none;
}
