.navbarMain {
  background-color: black;
  color: white;
}

.navbarMain .navbar-brand img {
  margin-right: 10px;
}

.navbarMain .nav-link {
  color: white !important;
  margin-right: 10px;
}

.navbarMain .nav-link:hover {
  color: #ccc !important;
}

.navbarMain .discordLink {
  color: #7289da;
  font-weight: bold;
}

.navbarMain .discordLink:hover {
  color: #fff;
  text-decoration: none;
}

.navElements {
  max-width: "1199.98px";
}
