@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
  -webkit-user-drag: none;
}

body {
  text-rendering: optimizeLegibility;
  margin: 0;
  font-family: 'Raleway', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Cabin', sans-serif !important;
}

