@import url("https://fonts.googleapis.com/css?family=Cabin&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
/* @import "~bootstrap/dist/css/bootstrap.min.css"; */
@import "./bootstrap.min.css";
@import "./discord-link.css";
@import "./animations.css";

* {
  -webkit-user-drag: none;
}

body {
  text-rendering: optimizeLegibility;
  margin: 0;
  font-family: "Raleway", sans-serif !important;
  /* font-family: Helvetica, Arial, Lucida, sans-serif; */
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #ffffff !important;
}

a:hover {
  color: #7289da !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cabin", sans-serif !important;
  font-display: swap;
}

.divider {
  content: '';
  display: block;
  margin: 1rem 0;
  background-color: #ffffff;
  height: 0.1rem;
  width: 12rem;
}